body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

.error {
    color: red;
    font-weight: bold;
}

img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.board {
    text-align: center;
}

.board table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.board td {
    border: solid black 1px;
    width: 20px;
    height: 20px;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.loginform {
    text-align: center;
    /*margin: 5px;*/
    position: absolute;
    width: 100%;
    top: 40%;
    /*left: 50%;*/
    transform: translate(0, -50%);
}

.button {
    background-color:rgb(36, 89, 187);
    border: none;
    color: aliceblue;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    margin: 5px;
}

.button:hover {
    background-color: rgb(19, 61, 139);
    color: aliceblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.userlist {
    float: left;
    width: 15%;
    overflow-y: auto;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

ul {
    padding: 0;
}

.userlist li {
    display: block;
    clear: both;
    list-style: none;
    background-color: rgb(36, 89, 187);
    color: aliceblue;
    margin: 5px;
    font-size: 14px;
    padding: 5px 10px;
    transition-duration: 0s;
}

.userlist li:hover {
    background-color: rgb(19, 61, 139);
    color: aliceblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.gamelist {
    float: right;
    width: 20%;
    overflow-y: auto;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

.gamelist li {
    display: block;
    clear: both;
    list-style: none;
    text-align: center;
    background-color: rgb(36, 89, 187);
    color: aliceblue;
    margin: 5px;
    font-size: 14px;
    padding: 5px 10px;
    transition-duration: 0s;
}

.gamelist li:hover {
    background-color: rgb(19, 61, 139);
    color: aliceblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}